@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  height: 300px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
  z-index: 1;
}

.text-center {
  text-align: center;
}

.text-primary {
  color: #00adf2;
}

.bg-light {
  background: #fff;
  color: #333;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.bg-primary {
  background: #00adf2;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }

.btn {
  display: inline-block;
  color: #fff;
  background-color: #00adf2;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background: #0196d1;
}

.btn-dark {
  background: #333;
  color: #fff;
}



.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem;
  border-bottom: dotted 1px #444;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #00adf2;
  border-radius: 5px;
}

#navbar ul li a:active{
  background: #00adf2;
  border-radius: 5px;
}

#mainnav {
  margin-right: 155px;
}

#navbar h1 {
  padding-top: .45rem;
}


/* Showcase */
#showcase {
  background: #333 url('../showcase.jpg') 
  no-repeat center center/cover;
  height: 100vh;
  color: #fff;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4)
}

/*Section: Clients */
#clients .items {
  display: flex;
}

#clients .items img {
  display: block;
  margin: auto;
  height: auto;
  width: 95%;
}

#clients .items li {
  list-style: none;
  margin: auto;
  width: 50%;
  text-align: left;
}

#iconlist li a {
  color: #333;
  text-decoration: none;
}

/*Section: Contact Form*/
#contact {
  /* display: flex; */
  width: 50%;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}

#contact .contact-form textarea {
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
}

.label {
  font-size: 1.1rem;
  padding-top: .15rem;
}

#contact2 {
  font-size: 1.3rem;
}

#submit {
  border-radius: 5px;
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 530;
}

#home {
  width: 100%;
}

#impact,
#urgency {
  margin: 1px 0;
  font-size: 1.1rem;
}

#urgency select {
  width: 200px;
  font-size: 1.1rem;
}

#impact select {
  width: 200px;
  font-size: 1.1rem;
  margin-left: 17px;
}

.select {
  margin-left:.5rem;
}

#recordType {
  width: 200px;
  height: 1.5rem;
  font-size: 1.2rem;
}

.container2 {
  display: flex;
  margin: 5px 0 0 0;
  
}

.container2 label {
  display: flex;
  margin-top: 5px;
  margin-bottom: 2px;
}

.container2 select {
  display: flex;
  margin-left: 7px;
  margin-top: 10px;
  margin-bottom: 2px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  height: 20px;
}


.container ul li ul {
 display:none; 
}

.container ul li:last-child:hover {
  /* cursor: pointer; */
 }

 /* Nested Dropdown show */

.container ul li:last-child:hover ul {
  display: block;
  position: absolute;
  right: 350px;
  width: 400px;
  margin-top: 1rem;
}

.container ul li:last-child:hover ul li {
  display: block;
  background: #e7e7e7;
  font-size: 1.5rem;
  z-index: 9999;
  text-align: center;
}

.container ul li:last-child:hover ul li:hover {
background: #00adf2;
z-index: 9999;
}

#submit:hover {
  background-color: #d3cccc;
  border: #d3cccc;
  font-weight: bold;
}

/* Search Bar */
/* search box*/
.searchbox_1{
  background-color: #00adf2;
  padding:13px 13px 13px;
  width:500px;
  margin: 100px auto;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  border-radius:6px;
  -webkit-box-shadow:
  0 2px 4px 0 rgba(72, 72, 72, 0.83),
  0 10px 15px 0 rgba(126, 126, 126, 0.12),
  0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
  0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
  -moz-box-shadow:
  0 2px 4px 0 rgba(72, 72, 72, 0.83),
  0 10px 15px 0 rgba(126, 126, 126, 0.12),
  0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
  0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
  box-shadow:
  0 2px 4px 0 rgba(72, 72, 72, 0.83),
  0 10px 15px 0 rgba(126, 126, 126, 0.12),
  0 -2px 6px 1px rgba(199, 199, 199, 0.55) inset,
  0 2px 4px 2px rgba(255, 255, 255, 0.83) inset;
  }
  .search_1{
  width:435px;
  height:30px;
  padding-left:15px;
  border-radius:6px;
  border:none;
  color:#0F0D0D;;
  font-weight:500;
  background-color:#E2EFF7;;
  -webkit-box-shadow:
  0 -2px 2px 0 rgba(199, 199, 199, 0.55),
  0 1px 1px 0 #fff,
  0 2px 2px 1px #fafafa,
  0 2px 4px 0 #b2b2b2 inset,
  0 -1px 1px 0 #f2f2f2 inset,
  0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
  -moz-box-shadow:
  0 -2px 2px 0 rgba(199, 199, 199, 0.55),
  0 1px 1px 0 #fff,
  0 2px 2px 1px #fafafa,
  0 2px 4px 0 #b2b2b2 inset,
  0 -1px 1px 0 #f2f2f2 inset,
  0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
  box-shadow:
  0 -2px 2px 0 rgba(199, 199, 199, 0.55),
  0 1px 1px 0 #fff,
  0 2px 2px 1px #fafafa,
  0 2px 4px 0 #b2b2b2 inset,
  0 -1px 1px 0 #f2f2f2 inset,
  0 15px 15px 0 rgba(41, 41, 41, 0.09) inset;
  }
  .submit_1{
  width:35px;
  height:30px;
  background-image:url(fakepath.png);
  background-repeat: no-repeat;
  background-position: 17px 2px;
  background-color:transparent;
  -webkit-background-size:20px 20px;
  background-size:20px 20px;
  border:none;
  cursor:pointer;
  }
  .search_1:focus{
  outline:0;
  }